// src\styles\globals\Colors.scss

// Define a custom function to lighten colors
// @param $color - The base color to lighten
// @param $percentage - The percentage to lighten the color
// @return The lightened color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Define a custom function to darken colors
// @param $color - The base color to darken
// @param $percentage - The percentage to darken the color
// @return The darkened color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Base color palette
// Utilizes descriptive names for ease of use and maintainability
$slate: #64748b; // A versatile middle slate color
$indigo: #6059f7; // A deep indigo for vibrant accents
$blue: #36c3fe; // A bright blue for engaging elements
$seaFoam: #43f88b; // A fresh seaFoam for light accents
$electricPurple: #753aff; // An electric purple for dynamic accents
  // Example Usage:
//   .foo {
//     color: tint(#BADA55, 42%);
//   }
//   .bar {
//     background-color: shade(#663399, 42%);
//   }
  

// Dark Backgrounds
$background-dark-ocean: linear-gradient(to bottom, rgba(36, 123, 160, 0.8), rgba(112, 193, 179, 0.6)) 0%, radial-gradient(at left top, #5100ff1a, rgba(36, 123, 160, 0.2)) 50%;
$background-dark-forest: linear-gradient(to bottom, rgba(34, 49, 63, 0.8), rgba(23, 42, 58, 0.6)) 0%, radial-gradient(at left top, rgba(255, 255, 255, 0.1), rgba(34, 49, 63, 0.2)) 50%;
$background-dark-midnight: linear-gradient(to bottom, rgba(52, 73, 94, 0.8), rgba(44, 62, 80, 0.6)) 0%, radial-gradient(at left top, rgba(255, 255, 255, 0.1), rgba(52, 73, 94, 0.2)) 50%;
$background-dark-ember: linear-gradient(to bottom, rgba(195, 55, 100, 0.8), rgba(29, 38, 113, 0.6)) 0%, radial-gradient(at left top, rgba(255, 255, 255, 0.1), rgba(195, 55, 100, 0.2)) 50%;
$background-dark-twilight: linear-gradient(to bottom, rgba(102, 51, 153, 0.8), rgba(111, 30, 81, 0.6)) 0%, radial-gradient(at left top, rgba(255, 255, 255, 0.1), rgba(102, 51, 153, 0.2)) 50%;

// Light Backgrounds
$background-light-dawn: linear-gradient(to bottom, rgba(255, 175, 189, 0.8), rgba(255, 195, 160, 0.6)) 0%, radial-gradient(at left top, rgba(248, 0, 0, 0.6), rgba(255, 175, 189, 0.2)) 50%;
$background-light-spring: linear-gradient(to bottom, rgba(106, 144, 100, 0.8), rgba(250, 215, 160, 0.6)) 0%, radial-gradient(at left top, rgba(0, 190, 3, 0.6), rgba(106, 144, 100, 0.2)) 50%;
$background-light-mist: linear-gradient(to bottom, rgba(135, 211, 124, 0.8), rgba(255, 255, 255, 0.6)) 0%, radial-gradient(at left top, rgba(128, 255, 0, 0.9), rgba(135, 211, 124, 0.2)) 50%;
$background-light-aurora: linear-gradient(to bottom, rgba(129, 207, 224, 0.8), rgba(180, 238, 180, 0.6)) 0%, radial-gradient(at left top, rgba(136, 0, 255, 0.6), rgba(129, 207, 224, 0.2)) 50%;
$background-light-breeze: linear-gradient(to bottom, rgba(255, 250, 182, 0.8), rgba(255, 212, 96, 0.6)) 0%, radial-gradient(at left top, rgba(0, 255, 170, 0.9), rgba(255, 250, 182, 0.2)) 50%;

// Example Usage:
// To use the defined backgrounds in CSS, you can apply them to elements like so:
// .dark-card {
//   background: $background-dark-ocean; // For a card with a dark ocean theme.
// }
// .light-card {
//   background: $background-light-dawn; // For a card with a light dawn theme.
// }
// This approach allows for the creation of visually appealing cards with gradients that transition from rich colors to lighter tones, aligning with the design standards for soft, engaging backgrounds.
