// Relative file path: ./components\title\Title.scss
@import '../../styles/globals/globals.scss';
@import '../../styles/globals/Colors.scss';
@import '../../styles/globals/Variables.scss';

.title {
    overflow: hidden;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: $space-md;
  
    &.light {
      background: $background-light-dawn;
      color: var(--electricPurple-1);
    }
  
    &.dark {
      background-color: var(--ocean-blue-4);
      background:  $background-dark-ocean;
      color: var(--deep-indigo-11);
    }
  }