// Relative file path: ./components\header\Header.scss
@import '../../styles/globals/Colors.scss';
@import '../../styles/globals/Variables.scss';

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $space-md;
    nav{
        a{
        
        &:nth-child(n+2) {
            // Your styles here
            margin: $space-xs; // Example style
          }
        
        }
    }

}
.toggle-button {
    border-radius: 999px;
    background-color: shade($electricPurple,32%);
    padding: 0.575rem;
    border: none;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // width: auto;
    // margin: auto;
    cursor: pointer;
    &:hover {
      background-color: shade($electricPurple,2%);
    }
  
    .icon {
      height: 1rem;
      width: 1rem;
      color: white;
    }
  }
